

.zoom {
   animation: zoom 2s infinite ease-in-out ;
}

@keyframes zoom {
    0% {
      scale: 1;
    }
  
    50% {
     scale: 1.4;
    }
    100% {
        scale: 1;
    }
  }

.shadow {
    animation: shadow 3s infinite ease-in-out ;
}

@keyframes shadow {
    0% {
      box-shadow: 0 0 10px 2px white;
    }
  
    50% {
        box-shadow: 0 0 20px 2px white;
    }
    100% {
        box-shadow: 0 0 10px 2px white;
    }
  }

  .zoom-in {
    animation: zoom-in 1s ;
  }

  @keyframes zoom-in {
    from {
        scale: 0;
        opacity: 0;
        
    }

    to {
        scale: 1;
        opacity: 1;
        
    }

}

.zoom-out {
  animation: zoom-out 1.5s ;
}

@keyframes zoom-out {
  from {
      scale: 3;
      opacity: 0;
     
  }

  to {
      scale: 1;
      opacity: 1;
     
  }

}

.allumage {

  animation: allumage 4s ;

}

@keyframes allumage {
  from {
      /* scale: 1; */
      opacity: 0;
     
  }

  to {
      /* scale: 0; */
      opacity: 1;
     
  }

}

.extinction {

  animation: extinction 1s ;

}

@keyframes extinction {
  from {
      /* scale: 1; */
      opacity: 1;
     
  }

  to {
      /* scale: 0; */
      opacity: 0;
     
  }

}

.destruction {

  animation: destruction 1s ;

}

@keyframes destruction {
  from {
      scale: 1;
      /* opacity: 1; */
     
  }

  to {
      scale: 0;
      /* opacity: 0; */
     
  }

}

.start-left {

  animation: start-left 2s ;

}

@keyframes start-left {
  from {
    
    opacity: 0;
    transform: translateX(-200%);
     
  }

  to {
    transform: translateX(0%);
     opacity: 1;
  }

}

.start-right {

  animation: start-right 2s ;

}

@keyframes start-right {
  from {
    
    opacity: 0;
    transform: translateX(200%);
     
  }

  to {
    transform: translateX(0%);
     opacity: 1;
  }

}




