

.zoom {
   animation: zoom 2s infinite ease-in-out ;
}

@keyframes zoom {
    0% {
      scale: 1;
    }
  
    50% {
     scale: 1.4;
    }
    100% {
        scale: 1;
    }
  }

.shadow {
    animation: shadow 3s infinite ease-in-out ;
}

@keyframes shadow {
    0% {
      box-shadow: 0 0 10px 2px white;
    }
  
    50% {
        box-shadow: 0 0 20px 2px white;
    }
    100% {
        box-shadow: 0 0 10px 2px white;
    }
  }

  .zoom-in {
    animation: zoom-in 1s ;
  }

  @keyframes zoom-in {
    from {
        scale: 0;
        opacity: 0;
        
    }

    to {
        scale: 1;
        opacity: 1;
        
    }

}

.zoom-out {
  animation: zoom-out 1.5s ;
}

@keyframes zoom-out {
  from {
      scale: 3;
      opacity: 0;
     
  }

  to {
      scale: 1;
      opacity: 1;
     
  }

}

.allumage {

  animation: allumage 4s ;

}

@keyframes allumage {
  from {
      /* scale: 1; */
      opacity: 0;
     
  }

  to {
      /* scale: 0; */
      opacity: 1;
     
  }

}

.extinction {

  animation: extinction 1s ;

}

@keyframes extinction {
  from {
      /* scale: 1; */
      opacity: 1;
     
  }

  to {
      /* scale: 0; */
      opacity: 0;
     
  }

}

.destruction {

  animation: destruction 1s ;

}

@keyframes destruction {
  from {
      scale: 1;
      /* opacity: 1; */
     
  }

  to {
      scale: 0;
      /* opacity: 0; */
     
  }

}

.start-left {

  animation: start-left 2s ;

}

@keyframes start-left {
  from {
    
    opacity: 0;
    transform: translateX(-200%);
     
  }

  to {
    transform: translateX(0%);
     opacity: 1;
  }

}

.start-right {

  animation: start-right 2s ;

}

@keyframes start-right {
  from {
    
    opacity: 0;
    transform: translateX(200%);
     
  }

  to {
    transform: translateX(0%);
     opacity: 1;
  }

}

.start-top {

  animation: start-top 2s ;

}

@keyframes start-top {
  from {
    
    opacity: 0;
    transform: translatey(-200%);
     
  }

  to {
    transform: translateX(0%);
     opacity: 1;
  }

}

.start-bottom {

  animation: start-bottom 2s ;

}

@keyframes start-bottom {
  from {
    
    opacity: 0;
    transform: translatey(200%);
     
  }

  to {
    transform: translateX(0%);
     opacity: 1;
  }

}

.perso-actif {

  background-color: rgba(165, 42, 42, 0.308);
  /* border-bottom: 1px solid brown; */
  animation: perso-actif 1s infinite;
}


@keyframes perso-actif {
  0% {
     /* box-shadow: 0 0 5px 0px brown; */
     scale: 1;
  }

  50% {
      /* box-shadow: 0 0 25px 2px brown; */
      scale: 1.05;
  }

  100% {
      /* box-shadow: 0 0 5px 0px brown; */
      scale: 1;
  }

}

.rotate-zoom {

  animation: rotate-zoom 2s forwards;

}


@keyframes rotate-zoom {

  0% {
    scale: 0;
    rotate: 8turn;
    text-shadow: 0 0 5px red;

  }
  25% {
    scale: 2;
    
  }
  50% {
    scale: 4;
    
  }
  75% {
    scale: 2;

  }
  100% {
    scale: 1;
    font-size: 25px;
  }

}

.deroulant-bas {

  animation: deroulant-bas 1s ease-in;
  transform-origin: left;

}

@keyframes deroulant-bas {
  
  from {
    background-color: white;
    opacity: 0;
    transform: scaleX(0%) rotate(-2deg);
    /* transform: rotate3d(0, 20, 0.5, 270deg); */
  }
  
  to {
    background-color: transparent;
    opacity: 1;
    transform: scaleX(100%);
    /* transform: rotate3d(0, 0, 0, 0deg); */
  }

}

.deroulant-gauche {
  
  animation: deroulant-gauche 1s ease-in-out;
  transform-origin: left;
  
}

@keyframes deroulant-gauche {
  
  from {

    transform: scaleX(100%);

    /* transform: rotate3d(0, 0, 0, 0deg); */
    background-color: white;
    opacity: 0;
  }
  
  to {
    transform: scaleX(0%) rotate(3deg);
    /* transform: rotate3d(0, 15, 0.5, 90deg); */
    opacity: 1;
  }

}
