* {

box-sizing: border-box;
padding: 0;
margin: 0;
text-decoration: none;
border: none;

}

@font-face {
    font-family: "90s";
    src: url("./fonts/90s.ttf");
}
  
@font-face {
font-family: "medieval";
src: url("./fonts/medieval.ttf");
}

body {

    width: 100%;
    background: url("./assets/cbg_ciel_bleu.jpg") no-repeat center/ cover;


}

header {

    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    max-width: 1280px;
    height: 100vh;
    margin: auto;
    background: url("./assets/bg_citadel.jpg") no-repeat center / cover;
    box-shadow: 0 0 15px 5px black;

    h1,
    h2,
    h3 {

        font-family: "medieval", sans-serif;
        color: white;
        text-shadow: 0 0 5px black;
        text-align: center;

    }

    h1 {
        text-decoration:overline;
        background: url("./assets/cadre_bois.png") no-repeat center / contain;
        background-size: 100% 100%;
        padding: 10px 20px 5px;
    }

    h2 {

        background: url("./assets/parchemin_med.png") no-repeat center / contain;
        background-size: 100% 100%;
        padding: 10px 20px;

    }
    
}

.dsp-flex {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.dsp-flex-lg {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.dsp-flex-col {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;


}

.form {


    color: brown;
    font-family: "medieval", sans-serif;
    max-width: 250px;
    // height: 287px;
    // padding: 0px 20px 2px;
    background: url("./assets/parchemin.png") no-repeat center / contain;
    background-size: 95% 110%;
    text-shadow: 0 0 5px white;
    border-radius: 10px;

    h2 {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        font-size: 30px;


        background: url("./assets/cadre_bois.png") no-repeat center / contain;
        background-size: 100% 100%;

        
    }

    label {
        width: 80%;
        margin: 2px auto 0;
       
    }


    input {
        width: 80%;
        padding: 5px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: none;
        margin: 2px auto 4px;
    }

    a {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        width: 100%;
        color: brown;
        text-align: right;
        background: url("./assets/cadre_bois.png") no-repeat center / contain;
        background-size: 100% 100%;
        
    }

}

.btn-brown, .btn-brown-2 {

    background-color: brown;
    border-radius: 10px;
    color: white;
    // text-align: center;
    transition: 0.2s;
    // border: 1px solid rgb(71, 21, 21);
    background: url("./assets/rouleau_bottom.png") no-repeat center / contain;
    background-size: 100% 100%;
    font-family: "medieval", sans-serif;
    font-size: 17px;
    padding: 5px 5px;
    text-shadow: 1px 1px 2px black;

}

.btn-brown {

    background: url("./assets/rouleau_bottom.png") no-repeat center / contain;
    background-size: 100% 100%;

}

.btn-brown-2 {
    background: url("./assets/btn_bois_1.png") no-repeat center / contain;
    background-size: 100% 100%;
}

.btn-brown:hover, .btn-brown-2:hover {
    cursor: pointer;
    // background-color: gray;
    scale: 1.02;

}

.optional-panel {

    max-width: 600px;
    background: url("./assets/parchemin_med.png") no-repeat center / contain;
    background-size: 95% 100%;
    justify-content: center;
    border-radius: 0 0 50px 50px;
    padding: 0px 5px 15px;
    
    h2 {

        width: 100%;
        padding: 5px;

    background: url("./assets/cadre_bois.png") no-repeat center / contain;
    background-size: 100% 100%;

    }

    h3 {
        width: 25%;
        margin: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    button {
        width: 35%;
        margin: 5px;

    }

    img {
        width: 90px;
        border-radius: 10px;
        transition: 0.3s;
        margin: 10px 0 10px;
    }

    img:hover {
        cursor: pointer;
        scale: 1.4;
        
    }


}

.cont-general {
    width: 100%;
    
    
}

.general-col1 {
    
    width: 70%;
    // border: 1px solid white;
    
}

.general-col2 {
    width: 25%;
    // border: 1px solid white;
}

.detail-player {
    width: 100%;
    padding: 10px 5px;
    gap: 5px;


    transition: 0.2s;

    h1 {
        margin: auto;
        width: 98%;
        background-color: rgba(0, 0, 0, 0.466);
        padding: 5px 0 0px;
        font-size: 20px;
        box-shadow: 0 0 10px 2px black;
        border-radius: 10px;
        
    }

    .player-avatar {

        margin: auto;
        width: 49%;
        // height: 100%;
        align-items: center;
        justify-content: space-around;
        padding: 10px;

        background: url("./assets/parchemin_med.png") no-repeat center / contain;
    background-size: 100% 100%;

        img {
            width: 75px;
        }

    }

    .player-competence {

        margin: auto;
        width: 49%;
        height: 100%;
        justify-content: space-around;

        padding: 10px;
        gap: 5px;

        background: url("./assets/parchemin_med.png") no-repeat center / contain;
        background-size: 100% 100%;

        button {
            margin: auto;
            width: 80%;
        }


    }


}

.narratif, .choice {

    width: 100%;

    background: url("./assets/parchemin_med.png") no-repeat center / contain;
        background-size: 100% 100%;

        h2 {

            padding: 5px 10px;

        background: url("./assets/cadre_bois.png") no-repeat center / contain;
        background-size: 100% 100%;
        box-shadow: 0 0 10px 2px black;
        border-radius: 10px;


        }

        .narratif-content::-webkit-scrollbar,
        .choice-content::-webkit-scrollbar {
            width: 5px;
          }
          
          .narratif-content::-webkit-scrollbar-track,
          .choice-content::-webkit-scrollbar-track {
            background: transparent;
          }
          
          .narratif-content::-webkit-scrollbar-thumb,
          .choice-content::-webkit-scrollbar-thumb {
            background-color: white;
            border-radius: 20px;
            border: 1px solid gray;
          }

        .narratif-content, .choice-content {

            overflow-y: auto;
            
            gap: 5px;
            padding: 10px 20px 20px;
            color: white;
            text-shadow: 1px 1px 5px black;
            letter-spacing: 1px;
            line-height: 25px;
           
            p {

                padding: 0 20px;
                font-family: "90s", sans-serif;
                text-align: center;
                
    
            }

            button {
                margin: auto;
            }


        }

        button {
            font-size: 16px;
        }

}

.narratif {

    height: 57vh;

   

    .narratif-content {

        height: 50vh;
     

    }

}

.choice {

    height: 24vh;

    .choice-content {

        height: 17vh;

    }

}

.general-col2 {

    background: url("./assets/parchemin.png") no-repeat center / contain;
    background-size: 100% 100%;
    padding: 0 10px;

    .list-inventaire {

        justify-content: center;
       

    
        .inventaire-scroll::-webkit-scrollbar {
            width: 5px;
            gap: 5px;
          }
          
          .inventaire-scroll::-webkit-scrollbar-track {
            background: transparent;
          }
          
          .inventaire-scroll::-webkit-scrollbar-thumb {
            background-color: white;
            border-radius: 20px;
            border: 1px solid gray;
          }

          .inventaire-scroll {
            width: 100%;
            height: 92vh;
            gap: 5px;
            overflow-y: auto;
            
        }

        .stick {
            position: sticky;
            top: 5px;
        }


        h2 {
            width: 100%;
            background: url("./assets/cadre_bois.png") no-repeat center / contain;
            background-size: 100% 100%;
            box-shadow: 0 0 10px 2px black;
            border-radius: 10px;
        }

        h3 {
            width: 100%;
            background: url("./assets/rouleau_bottom.png") no-repeat center / contain;
            background-size: 100% 100%;
            padding: 5px 0;
        }

        p {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "medieval", sans-serif;
            border: 1px solid brown;
            padding: 2px 5px;
            border-radius: 10px;
            color: brown;
        }

    }

   


}

@media screen and (max-width:700px){

    .avatar {
        display: none;
    }

    .detail-player { 

        .player-avatar  {
            width: 100%;

            h1, h2 {
                width: auto;
                padding: 5px 10px;
            }
        }

        .player-competence {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;

            button {
                width: auto;
            }
        }

    }

    .cont-general {
        position: relative;
    }

    .general-col1 {
        width: 100%;
    }
    
    .general-col2 {
        display: none;
    }

    .narratif-content {

        p {
            font-size: 10px;
        }
    }

    .narratif { 

        height: 57vh;


        .narratif-content {

            height: 50vh;
        
        }

    }

    .choice {

        height: 25vh;
    
        .choice-content {

            height: 20vh;
        
        }

    }
   
    
}

@media screen and (max-width:520px) {

    .narratif { 

        height: 48vh;

        .narratif-content {

            height: 41vh;
           
        }

    }

    .choice {

        height: 35vh;
    
        .choice-content {

            height: 29vh;
        
        }

    }

}

